## Importando os dados

In [43]:
import pandas as pd

tabela = pd.read_csv('BankChurners.csv')

## Visualizar e tratar os dados

In [44]:
tabela.head()
tabela.describe()
tabela.isna().sum()
colunas = ['CLIENTNUM','Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2']
tabela = tabela.drop(columns=colunas)

#verificar correlações
tabela.corr()

/var/folders/rb/7gsg_5yj5qg6wsb_jvpl9x840000gn/T/ipykernel_691/3727220006.py:9: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  tabela.corr()

,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
Customer_Age,1.000000,-0.122254,0.788912,-0.010931,0.054361,-0.018452,0.002476,0.014780,0.001151,-0.062042,-0.046446,-0.067097,-0.012143,0.007114
Dependent_count,-0.122254,1.000000,-0.103062,-0.039076,-0.010768,-0.040505,0.068065,-0.002688,0.068291,-0.035439,0.025046,0.049912,0.011087,-0.037135
Months_on_book,0.788912,-0.103062,1.000000,-0.009203,0.074164,-0.010774,0.007507,0.008623,0.006732,-0.048959,-0.038591,-0.049819,-0.014072,-0.007541
Total_Relationship_Count,-0.010931,-0.039076,-0.009203,1.000000,-0.003675,0.055203,-0.071386,0.013726,-0.072601,0.050119,-0.347229,-0.241891,0.040831,0.067663
Months_Inactive_12_mon,0.054361,-0.010768,0.074164,-0.003675,1.000000,0.029493,-0.020394,-0.042210,-0.016605,-0.032247,-0.036982,-0.042787,-0.038989,-0.007503
Contacts_Count_12_mon,-0.018452,-0.040505,-0.010774,0.055203,0.029493,1.000000,0.020817,-0.053913,0.025646,-0.024445,-0.112774,-0.152213,-0.094997,-0.055471
Credit_Limit,0.002476,0.068065,0.007507,-0.071386,-0.020394,0.020817,1.000000,0.042493,0.995981,0.012813,0.171730,0.075927,-0.002020,-0.482965
Total_Revolving_Bal,0.014780,-0.002688,0.008623,0.013726,-0.042210,-0.053913,0.042493,1.000000,-0.047167,0.058174,0.064370,0.056060,0.089861,0.624022
Avg_Open_To_Buy,0.001151,0.068291,0.006732,-0.072601,-0.016605,0.025646,0.995981,-0.047167,1.000000,0.007595,0.165923,0.070885,-0.010076,-0.538808
Total_Amt_Chng_Q4_Q1,-0.062042,-0.035439,-0.048959,0.050119,-0.032247,-0.024445,0.012813,0.058174,0.007595,1.000000,0.039678,0.005469,0.384189,0.035235
Total_Trans_Amt,-0.046446,0.025046,-0.038591,-0.347229,-0.036982,-0.112774,0.171730,0.064370,0.165923,0.039678,1.000000,0.807192,0.085581,-0.083034
Total_Trans_Ct,-0.067097,0.049912,-0.049819,-0.241891,-0.042787,-0.152213,0.075927,0.056060,0.070885,0.005469,0.807192,1.000000,0.112324,0.002838
Total_Ct_Chng_Q4_Q1,-0.012143,0.011087,-0.014072,0.040831,-0.038989,-0.094997,-0.002020,0.089861,-0.010076,0.384189,0.085581,0.112324,1.000000,0.074143
Avg_Utilization_Ratio,0.007114,-0.037135,-0.007541,0.067663,-0.007503,-0.055471,-0.482965,0.624022,-0.538808,0.035235,-0.083034,0.002838,0.074143,1.000000

In [45]:
#alterar os nomes das colunas para visualizar melhor os dados
tabela = tabela.rename({'Attrition_Flag':'Cliente','Customer_Age':'Idade','Gender':'Sexo','Dependent_count':'Dependentes',
                        'Education_Level':'Escolaridade','Marital_Status':'Estado civil', 'Income_Category':'Faixa Salarial',
                       'Card_Category':'Categoria Cartão','Months_on_book':'Meses como cliente','Total_Relationship_Count':'Produtos Contratados',
                       'Months_Inactive_12_mon':'Inatividade 12M','Contacts_Count_12_mon':'Contatos 12M', 'Credit_Limit': 'Limite',
                       'Total_Revolving_Bal':'Limite Consumido','Avg_Open_To_Buy':'Limite Disponível','Total_Amt_Chng_Q4_Q1':'Mudancas Transacoes_Q4_Q1',
                       'Total_Trans_Amt':'Valor Transacoes 12M', 'Total_Trans_Ct':'Qtde de transacoes','Total_Ct_Chng_Q4_Q1':'Mudancas de Qtde _Q4_Q1',
                        'Avg_Utilization_Ratio':'Taxa de utilizacao do cartao'}, axis='columns')

In [46]:
#Vizualizar como ficou a tabela.
tabela.head()

,Cliente,Idade,Sexo,Dependentes,Escolaridade,Estado civil,Faixa Salarial,Categoria Cartão,Meses como cliente,Produtos Contratados,Inatividade 12M,Contatos 12M,Limite,Limite Consumido,Limite Disponível,Mudancas Transacoes_Q4_Q1,Valor Transacoes 12M,Qtde de transacoes,Mudancas de Qtde _Q4_Q1,Taxa de utilizacao do cartao
0,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

## Análise inicial